
.pageContainer_phex{padding-left:24px!important;padding-right:24px!important;max-width:1080px!important;padding-top:24px!important;padding-bottom:24px!important;}
@media (max-width: 1127px){
    .pageContainer_phex{maxwidth:none!important;}
}
@media (min-width: 1128px){
    .pageContainer_phex {
        margin: 0 auto!important;
        position: relative!important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media (min-width: 744px){
    .pageContainer_phex{padding-top:48px!important;padding-bottom:48px!important;}
}

@media (max-width: 767px){
    .pageContainer_phex {
        padding-left: 24px!important;
        padding-right: 24px!important;
        max-width: 1080px!important;
        padding-top: 24px!important;
        padding-bottom: 24px!important;
        padding: 0 !important;
    }
}
@media screen and (max-width: 991px){


.pageContainer_phex {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
}
.pageContainer_phex {
    border-top: 0 solid #DBDBDB;
}



.pageContainer_phex.pdls {
    padding-left: 13px !important;
    padding-right: 13px !important;
}

.pageContainer_phex.pdls .row_lv:last-child {
    padding-bottom: 23px;
}

.pageContainer_phex.pdls .text_alt_area {
    margin-top: 35px !important;
}

.pageContainer_phex {
    border-top: 0px solid #DBDBDB;
    margin-top: 69px !important;

}

.nblsv {
    margin-top: 0px;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
